html {
    background-color: #ebe9e6;
    box-sizing: border-box;
}
body {
    margin-top: 0;
    font-family: Tahoma, 'Lucida Grande CE', lucida, sans-serif;  
}
.overall {
    width: 71%;
   /* height: 80%;*/
    margin: 0 auto;
    background-color: white;
}
table {
    border-collapse: collapse; /*nutno přidat aby fungoval "border" pro "tr" element*/
}
.logo1 {
margin-left: 20px;
align-self: center;
}
.navigation1 {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   /*align-items: center;*/
}
.navigation1 ul {
    margin: 0 250px 0 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;
    line-height: 90px;
}
.navigation1 ul li {
    padding: 0 20px;
    font-size: 0.8rem;
}
.navigation1 a {
    color: black;
}
.navigation1 a:hover {
    color: #bd1926;
}
.navigation2 {
    width: 83%;
    background-color: #226ba3;
    margin: 0 auto;
    display: flex;
    line-height: 40px;
    align-items: center;
   /* justify-content: space-between;*/

}
.navigation2 li {
    list-style: none;
    padding-right: 30px;
}
.navigation2 a {
    padding: 0 5px 0 5px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}
.navigation2 img {
    position: relative; 
    top: 5px;
}
.navigation2 a:hover {
    padding: 15px 5px 15px 5px;
    background-color: #bd1926;
    border: none;
    border-radius: 5px;
}
.mainwrapper {
    width: 86%;
    margin: 20px auto 10px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.mainwrapper_nadpis ul {
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;

}
.mainwrapper_nadpis ul li {
    list-style: none; 
}
.mainwrapper_nadpis ul li:nth-child(2) {
position: relative;
right: 120px;
}
.mainpart_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nejnovejsiudaje a {
    color: #0059A9;
    font-weight: normal;

}
.nejnovejsiudaje a:hover {
    color: #bd1926;
}
.nejnovejsiudaje table {
    font-size: 0.8rem;
    width: 90%;
   line-height: 17px;
   /* border-collapse: collapse; již je uvedeno na začátku css pro všechny table elementy*/
}
.nejnovejsiudaje tr {
    display: table-row;
    border-bottom: 1px dotted #CCCC;
}
.nejnovejsiudaje th {
    width: 50%;
    padding: 3px;
    text-align: left;
    
}
.nejnovejsiudaje td {
    width: 50%;
    text-align: end;
    padding: 6px 6px;
}
.vybertesikraj img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.tablecaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;
}
.aktuality tr {
    display: table-row;
    border-bottom: 1px dotted #CCCC;
}
.aktuality td {
    padding: 11px 0 0 10px;
    height: 49px;
    vertical-align: top;
    text-align: left;
    font-size: 0.8rem;
}
.aktuality th {
    padding: 11px 0 0 0;
    height: 49px;
    vertical-align: top;
    text-align: left;
    font-size: 0.8rem;
    font-weight: normal;
}
.aktuality a {
    font-weight: normal;
    color: #0059A9;
}
.aktuality a:hover {
color: #bd1926;
}
.aktuality {
    margin: 10px;
}
.mainpart_footer {
    width: 86%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.mainpart_footer li {
    list-style-type: none;
    text-align: end;
    position: relative;
    right: 45px;
    padding: 10px 0 30px 0;
}
.mainpart_footer a{
font-size: 0.8rem;
color: #0059A9;
}
.mainpart_footer a:hover{
color: #bd1926;
}
.footer1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #F4F6F9;
}
.footer1 div {
    justify-self: center;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 100px;
}
.footer1 img {
    border: #E3E5E7 solid 5px;
}
.footer1 a {
    color: #226ba3;
}
.footer1 a:hover {
    color: #bd1926;
}
.footer {
width: 71%;
margin: 0 auto;
font-size: 0.8rem;
}
.footer a {
    color: black;
}
.footer a:hover {
    color: #bd1926;
}
.footerspan1 {
    width: 100px;
    display: inline-block;
    padding-top: 30px;
    padding-left: 70px;
    padding-bottom: 40px;
}
.footerspan2 {
    width: 200px;
    display: inline-block;
}
.footerspan3 {
    width: 200px;
    display: inline-block;
}
.footer img {
    padding: 0 3px 2px 0;
}
.footer p {
line-height: 1rem;
margin-top: 20px;
}
.footerdate {
    float:right;
}
.footerimages {
    width: 71%;
    margin: 0 auto;
    text-align: center;
}