.logo {
    object-fit: contain; 
  }
  
  .price-text {
    font-size: 1.75rem;
  }
  
  @media (min-width: 992px) {
    .price-text {
      font-size: 1.75rem;
    }
  }
  
  .offer-body {
    padding: 0 10px;
    padding-bottom: 10px;
  }
  
  
  body {
      background: #5c0966;
      color:#5c0966;
  }
  
  .zajem {
    border: 1px solid #179c65 !important; background: linear-gradient(0deg, #3bcc3b 0%, #02b802 100%); color: white !important; font-weight: bold; padding:5px 30px; min-height: 50px!important;
    transition: .5s all !important;
  }
  
  .zajem:hover {
  border: 1px solid #179c65 !important; background: linear-gradient(0deg, #34bb34 0%, #009a00 100%) !important; color: white !important; font-weight: bold; padding:5px 30px; min-height: 50px!important;
  }
  
  
  .formular {
      background-color: #f4f4f4;
      border-radius: 20px;
      box-shadow: 0 2px 1px 0 rgba(0,0,0,.39);
  }
  .circle {
      width: 30px;
      height: 30px;
      background-color: #219ed2;
      border-radius: 50%;
      padding-left:11px;
      padding-top:2px;
      color: white;
  }
  .form-group {
      margin-bottom: 30px;
  }
  .form-check-label {
      color:#5e5e5e;
  }
  input, select {
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0,0,0,.15) inset;
      margin-right:-10px !important;
  }
  input[type="text"] {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
  }
  small {
      color:#797979;
      line-height: 1.4;
      display: block;
  }
  .dodavatel {
      border-radius: 10px;
      border-top: 1px solid #c1dce4;
      background-color: white;
  }
  tr {
      border-radius: 10px;
      border: 1px solid #e2e0ec;
      
  }
  td {
      padding-left: 15px;
      padding-right: 15px;
  }
  td:last-child {
      text-align: right;
  }
  .radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #312783;
    font-weight: bold;
    padding-right: -5px;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #312783;
    background-color: transparent;
  }
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #312783;
  }
  select {
      color: #312783 !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("br_down.png") white no-repeat 98.5% !important;
      background: url("br_down.png") white no-repeat calc(100% - 10px) !important;
      display: inline-block;
      border: 1px solid #312783 !important;
      border-radius: 4px;
      padding:10px;
      padding-top:0;
      box-shadow: none !important;
  }
  input {
      box-shadow: none !important;
      border: 1px solid #312783 !important;
      padding: 8px;
      margin-left: -8px;
      color: #312783 !important;    
  }
  select:focus, input:focus {
       border: 2px solid #312783 !important;
  }
  
  input:focus {
      outline: none;
  }
  select::-ms-expand { 
      display: none;
  }
  option, ::selection {
      color: #312783 !important;
  }
  @media (max-width: 768px) {
      .rd {
          width: 100% !important;
      }
      .logo {
          width: 140px !important;
          height: 68px !important;
      }
      .ponuka {
          border-radius: 10px !important;
      }
      .ponuka2 {
          border-radius: 10px 10px 0 0 !important;
      }
  }
   table {
      border-collapse: collapse;
      border-radius: 4px;
      border-style: hidden;
      box-shadow: 0 0 0 1px #dee2e6;
      margin-left:24px;
  }
  input[type=submit]:hover {
      cursor: pointer;    
  }
  .lista {
      position: fixed;
      bottom: 0;
      color: black;
      background-color: #26c425;
      font-weight: bold;
  }
  .cookies {
      position: fixed;
      bottom: 70px;
      color: black;
      background-color: gray;
  }
  @media (max-width: 576px) {
      .cookies {
          bottom: 90px;
      }
  }
  
  @media (min-width: 1200px) {
  
  .d-xl-grid{
      display: grid!important;
      }
  }
  
  #calcForm:before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    content: "";
    display: block;
    background: url(../img/family_left.png) no-repeat right;
    width: 20vw;
    height: 80vh;
    background-size: contain;
  }
  
  
  #calcForm:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    content: "";
    display: block;
    background: url(../img/family_right.png) no-repeat;
    width: 20vw;
    height: 80vh;
    background-size: contain;
  }
  
  .container-bigger {
    max-width: 1400px;
  }
  
  .btn-calc {
    border: 1px solid #179c65 !important; background: linear-gradient(0deg, #3bcc3b 0%, #02b802 100%); color: white !important; font-weight: bold; padding:5px 30px; min-height: 50px!important;
    transition: .5s all !important;
  }
  
  .btn-calc:hover {
  border: 1px solid #179c65 !important; background: linear-gradient(0deg, #34bb34 0%, #009a00 100%) !important; color: white !important; font-weight: bold; padding:5px 30px; min-height: 50px!important;
  }
  
  
  .bg-light-blue {
      background-color: #cde1e8; 
      padding: 40px 0;
  }
  
  .bg-light-blue h2 {
      color: #2d3545;
      margin-bottom: 40px;
  }
  
  .review-item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;
  }
  
  .review-item-header span.review-item-header-title {
      color: #47505e;
      font-size: 16px;
      font-weight: bold;
  }
  
  .review-item-header span.review-item-header-subtitle {
      color: #672072 !important;
      font-size: 14px;
  }
  
  .review-item-body {
      position: relative;
      background: white;
      border: 1px solid #a6bac0;
      border-radius: 10px; 
  }
  
  .review-item-body:after {
      content: "";
      display: block;
      position: absolute;
      background: url(img/review-arrow-up.png);
      width: 9px;
      height: 14px;
      top:  0;
      transform: translateY(-100%);
      left: 25px;
  
  }
  
  .review-item-body p {
      color: #353d4b;
      padding: 20px 20px;
      margin-bottom: 0;
  }
  
  .review-item-body-request {
      padding: 12px 20px;
      background-color: #d8eaf0;
      color: #289c2c;
      font-weight: bold;
  }
  
  .review-item-body-footer {
      background: linear-gradient(-180deg, rgba(37,146,42,1) 0%, rgba(26,114,57,1) 100%);
      padding: 12px 20px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      font-weight: bold;
      color: white;
  }
  
  .review-item-footer a {
      display: block;
      color: #159316;
      font-size: 18px;
      font-weight: bold;
      text-decoration: underline;
  
  }
  
  .review-item-footer {
      padding: 5px 10px;
  }
  
  