.herobanner {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    &__navbar {
        height: 10vh;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
        //navbar start!
        a {
            color: $primary-color;

            list-style: none;
            padding: 0;
            text-decoration: none;
            font-size: 20px;
            // text-shadow: 2px 2px #686967;

            &:hover {
                color: $secondary-color;
                @include transition-ease;
            }
        }

        .nav-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            li {
                list-style: none;
            }

            li a {
                color: $primary-color;

                padding: 0 40px;
                font-size: 16px;

                &:hover {
                    color: $secondary-color;
                    @include transition-ease;
                }
            }
        }
        .menu-btn {
            position: relative;
            z-index: 1000;
            height: 20px;
            width: 28px;
            cursor: pointer;
            @include transition-ease;

            &__burger {
                position: absolute;
                right: 0;
                top: 0.5rem;
                width: 28px;
                height: 3px;
                background-color: $primary-color;
                @include transition-ease;

                &::before {
                    content: "";
                    position: absolute;
                    top: -8px;
                    width: 28px;
                    height: 3px;
                    background-color: $primary-color;
                    @include transition-ease;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    width: 20px;
                    height: 3px;
                    background-color: $primary-color;
                    @include transition-ease;
                }

                &.active {
                    transform: rotate(720deg);
                    background: transparent;
                    @include transition-ease;

                    &::before {
                        transform: rotate(45deg) translate(5px, 8px);
                        @include transition-ease;
                    }

                    &::after {
                        width: 28px;
                        transform: rotate(-45deg) translate(3px, -7px);
                        @include transition-ease;
                    }
                }
            }
        }
    }
    //navbar konec!
    //herobanner start!
    &__wrapper {
        display: flex;

        .text-section {
            height: 100vh;
            color: $secondary-color;
            width: 40%;
            flex: 40%;
            z-index: 10;

            h1 {
                margin-top: 100px;
                margin-bottom: 30px;
                font-size: 150px;
                letter-spacing: 5px;

                font-family: $herobanner-font;
                color: $secondary-color;
                // text-shadow: 15px 15px #509915;
                text-shadow: -10px 10px $primary-color;

                span {
                    color: $primary-color;
                    // text-shadow: 5px 5px $secondary-color;
                    text-shadow: -10px 10px #686967;
                }
            }
            h2 {
                font-size: 24px;
                font-weight: 100;
                font-family: $main-font;
                letter-spacing: 0px;
                padding: 5px 0 0 0;
                margin-bottom: 0;
                color: $primary-color;
                // text-shadow: -1px 1px #686967;
            }

            p {
                font-size: 20px;
                font-family: $main-font;
                letter-spacing: 0px;
                padding: 0;
                margin: 0;
                // text-shadow: -1px 1px #686967;
            }

            .button {
                display: inline-block;
                margin: 20px 0;
                padding: 15px 35px;
                background-color: #509915;
                border-radius: 15px;
                text-transform: uppercase;
                font-size: 20px;
                letter-spacing: 2px;
                text-align: center;
                font-family: $main-font;
                font-weight: 800;
                color: black;
                text-decoration: none;

                &:hover {
                    background-color: $secondary-color;
                }
            }
            &__social-icons {
                width: 50%;
                display: flex;
                justify-content: start;
                align-items: center;

                &__one-icon {
                    color: $secondary-color;
                    font-size: 2.5rem;
                    padding: 15px 10px;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .video-section {
            height: 100vh;
            overflow: hidden;
            position: relative;
            width: 60%;
            flex: 60%;
            z-index: 1;

            video {
                position: absolute;
                top: 0;
                left: -25%;
                transform: translateY(-10%);
                width: 150%;
            }
        }
    }
}
//herobanner konec!
