.herobanner {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    &__navbar {
        height: 10vh;
    }
    &__wrapper {
        display: flex;

        .text-section {
            height: 90vh;
            color: $secondary-color;
            width: 40%;
            flex: 40%;
        }

        .video-section {
            height: 90vh;
            overflow: hidden;
            position: relative;
            width: 60%;
            flex: 60%;

            video {
                position: absolute;
                top: 50%;
                left: -25%;
                transform: translateY(-50%);
                width: 150%;
            }
        }
    }
}
