@include media-md {
    .herobanner {
        width: 100%;

        //navbar start!
        &__navbar {
            width: 90%;

            margin: 0 auto;
            justify-content: space-between;

            a {
                color: $primary-color;

                &:hover {
                    color: $secondary-color;
                }
            }

            .no-web {
                display: block;
            }
            .no-mobile {
                display: none;
            }
            .no-mobile.active {
                display: block;
                position: absolute;
                top: 10vh;
                left: 0;
                width: 100vw;
                height: 90vh;
                background-color: black;
                z-index: 100;

                .nav-list {
                    height: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    li {
                        list-style: none;
                        padding: 50px 0px;
                    }
                    li a {
                        font-size: 30px;
                        color: $primary-color;

                        &:hover {
                            color: $secondary-color;
                            @include transition-ease;
                        }
                    }
                }
            }
        }
        //navbar konec!
        //herobanner start!

        &__wrapper {
            display: block;

            .text-section {
                height: 50vh;
                width: 100%;

                h1 {
                    margin-top: 0;
                    padding-top: 50px;
                    margin-bottom: 50px;
                    width: 100%;
                    text-align: center;
                    font-size: 100px;
                    text-shadow: -5px 5px $primary-color;

                    span {
                        color: $primary-color;

                        text-shadow: -5px 5px #686967;
                    }
                }
                h2 {
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    margin-bottom: 0;
                }
                p {
                    font-size: 12px;
                    text-align: center;
                    padding: 0;
                    width: 100%;
                }
                .button {
                    display: block;
                    letter-spacing: 0;
                    margin: 20px auto;
                    width: 45%;
                    font-size: 12px;
                    padding: 15px 5px;
                }
                &__social-icons {
                    width: 100%;

                    justify-content: center;
                }
            }

            .video-section {
                height: 40vh;
                width: 100%;

                video {
                    opacity: 90%;
                    width: 100%;
                    top: 0%;
                    left: 0%;
                    margin: auto;
                    transform: translateY(-5%);
                    // transform: translateX(4%);
                }
            }
        }
    }
    //herobanner konec!
    //Sluzby start!
    .sluzby {
        height: 100vh;
        width: 100vw;
        background: url(../img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
        background-size: cover;
        background-blend-mode: lighten;
        display: block;

        &__sluzby-img {
            display: none;
        }
        &__text-section {
            text-align: center;
            max-width: 100%;

            h1 {
                margin-top: 150px;
                margin-bottom: 30px;
                font-size: 100px;
                text-shadow: -5px 5px $primary-color;

                span {
                    text-shadow: -5px 5px #686967;
                }
            }
            h2 {
                font-size: 20px;
            }
            ul li {
                font-size: 16px;
            }
        }
    }
    #sluzby-second {
        background: url(../img/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg);
        background-size: cover;
        background-blend-mode: lighten;
        background-position: center;
    }
    //Sluzby konec!
    //Kontakty start!
    .kontakty-section {
        h1 {
            margin-top: 100px;
            font-size: 50px;
            text-shadow: -5px 5px $primary-color;
        }
        .contacts-wrapper {
            flex-direction: column;

            .contact-info-wrapper {
                width: 100%;

                .contact-info-item {
                    padding: 10px;
                    padding-left: 0;

                    .icon {
                        font-size: 16px;
                    }

                    h4 {
                        font-size: 16px;
                    }

                    p {
                        font-size: 10px;
                    }
                }
            }
            form {
                margin-top: 0px;
                width: 100%;
                flex: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input {
                    text-align: center;
                    width: 50%;
                    padding: 8px 0;
                    margin: 10px 0;
                    border-radius: 15px;
                }

                textarea {
                    text-align: center;
                    width: 50%;
                    padding: 25px 0;
                    margin: 15px 0;
                    border-radius: 15px;
                }

                button {
                    font-size: 16px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 20px 0px;
                    padding: 10px 30px;
                    letter-spacing: 2px;
                }
            }
        }
    }

    //Kontakty konec!
}

@include media-sm {
    .herobanner {
        //herobanner start!
        &__wrapper {
            .text-section {
                height: 45vh;
                h1 {
                    padding-top: 20px;
                    font-size: 60px;
                }
                h2 {
                    font-size: 12px;
                }
                p {
                    width: 100%;
                    font-size: 10px;
                }
                .button {
                    padding: 10px 25px;
                    font-size: 10px;
                }
                &__social-icons {
                    &__one-icon {
                        font-size: 1.5rem;
                    }
                }
            }
            .video-section {
                height: 55vh;

                video {
                    width: 150%;
                    top: 0;
                    left: -25%;
                }
            }
        }
    }
    //herobanner konec!
    //Sluzby start!
    .sluzby {
        &__text-section {
            h1 {
                font-size: 60px;
            }
        }
    }
    //Sluzby konec!
    //Kontakty start!
    .kontakty-section {
        h1 {
            margin-top: 50px;
            font-size: 50px;
        }
        .contacts-wrapper {
            .contact-info-wrapper {
                width: 100%;

                .contact-info-item {
                    padding: 5px;
                    padding-left: 0;

                    .icon {
                        font-size: 10px;
                    }

                    h4 {
                        font-size: 10px;
                    }

                    p {
                        font-size: 8px;
                    }
                }
            }
            form {
                input {
                    width: 75%;
                }

                textarea {
                    width: 75%;
                }
            }
        }
    }
    //Kontakty konec!
}
