@import "config";
@import "variables";
@import "herobanner";
@import "sluzby";
@import "kontakty";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.no-web {
    display: none;
}

@import "responzive";
