


.slider_overall {
    background-color: #eb9e34;
    height: 70vh;
}

.img_slider {
    position: relative;
    top: 100px;
    margin: 50px auto;
    padding: 0;
    width: 250px;
    height: 250px;

}
.img_slider .slide {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
   width: 100%;
    overflow: hidden;
    clip-path: circle(0% at 0 50%);
}
.img_slider .slide.active {

    clip-path: circle(150% at 1% 50%);
    transition: 1.5s;
    transition-property: clip-path;
}
.img_slider .slide img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
}
.img_slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
.img_slider .slide h1 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
}
.img_slider .slide p {
    color: white;
    background: rgba(0,0,0,0.1);
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}
.img_slider .slide a {
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    /*margin-left: 25px;*/
    text-decoration: none;
    background: #69F62E;
}
.img_slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.img_slider .navigation .btn {
    background: rgba(255,255,255,0.5);
    width: 17px;
    height: 17px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.img_slider .navigation .btn.active {
    background: #0c23f5;
}

/* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 480px) {

.img_slider {
    width: 450px;
    height: 380px;
}
.img_slider .slide h1 {
    font-size: 1.5rem;
}
.img_slider .slide p {
    font-size: 1rem;
    width: 60%;
}
.img_slider .slide a {
    font-size: 1rem;
    top: 25px;
    padding: 15px 30px;
}
.img_slider .navigation {
    bottom: 10px;
}
.img_slider .navigation .btn {
    width: 17px;
    height: 17px;
    margin: 10px;
}

}

/* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 768px) {
    
.slider_overall {
    background-color: #eb9e34;
    height: 80vh;
}
    .img_slider {
        width: 700px;
        height: 550px;
    }
    .img_slider .slide h1 {
        font-size: 2rem;
    }
    .img_slider .slide p {
        font-size: 1.2rem;
        width: 60%;
    }
    .img_slider .slide a {
        font-size: 1.2rem;
        top: 25px;
        padding: 15px 30px;
    }
    .img_slider .navigation {
        bottom: 10px;
    }
    .img_slider .navigation .btn {
        width: 20px;
        height: 20px;
        margin: 10px;
    }

}

/* Large screens desktops*/
@media (min-width: 1024px) {
    .slider_overall {
        height: 100vh;
    }
    .img_slider {
        width: 1000px;
        height: 650px;
    }
    .img_slider .slide h1 {
        font-size: 2.2rem;
    }
    .img_slider .slide p {
        font-size: 1.4rem;
        width: 60%;
    }
    .img_slider .slide a {
        font-size: 1.4rem;
        top: 25px;
        padding: 20px 40px;
    }
    .img_slider .navigation {
        bottom: 10px;
    }
    .img_slider .navigation .btn {
        width: 25px;
        height: 25px;
        margin: 10px;
    }

}

/* Extra large desktop screens*/
@media (min-width: 1200px) {
    .slider_overall {
        height: 850px;
    }
    .img_slider {
        width: 1100px;
        height: 750px;
    }
    
    .img_slider .navigation .btn {
        width: 25px;
        height: 25px;
        margin: 20px;
    }    


}

/*XXXL screens and TVs*/
@media (min-width: 1400px) {
    .slider_overall {
        height: 1000px;
    }

.img_slider {
        width: 1300px;
        height: 850px;
}
.img_slider .slide h1 {
    font-size: 2rem;
}
.img_slider .slide p {
    font-size: 1.2rem;
    width: 60%;
    margin-top: 35px;
}
.img_slider .slide a {
    font-size: 1.2rem;
    top: 35px;
    padding: 15px 30px;
}
.img_slider .navigation {
    bottom: 10px;
}
.img_slider .navigation .btn {
    width: 20px;
    height: 20px;
    margin: 10px;
}

}