
@include media-md {
main {
    width: 80%;
}
nav ul {
    float: none;
    margin-right: 0;
    justify-content: space-around;
}

nav ul li {
    font-size: 0.8rem;
    padding: 0 5px;

}

body main header {
    height: 700px;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;

    & .text-field, .img {
        max-width: 100%;
        margin: 30px;
        padding: 0;
        text-align: center;
    }

    & .text-field h1 {
        font-size: 3rem;
    }

    & .text-field p {
        font-size: 1rem;
        text-align: start;
    }

    & .text-field a {
        padding: 10px 25px;

    }
}

.projects h2 {
    width: 100%;
    text-align: center;
}

.projects .container {
    display: block;
    // flex-direction: column;
    padding: 0;

    & .card {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px;

    & .text {
        height: fit-content;

        & p {
            padding-bottom: 1rem;
        }
    }
    }
}

}

@include media-sm {
    main {
        width: 100%;
    }
    .projects .container .card {
        width: 80%;

    }
}
  