@import url('http://fonts.cdnfonts.com/css/maiandra-gd');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo {
    display: none;
}
.logo.active {
    display: none;
}


.right_side_nav {
    display: none;
}
.right_side_nav.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 650px;
    z-index: 20;
    background: black;
}
nav ul li {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
nav ul a {
    color: #69F62E;
    font-size: 2.5rem;
    /*padding-right: 20px;*/
    letter-spacing: 2px;
    text-transform: uppercase;
   /* z-index: 10;*/
    text-decoration: none;
}
nav li a:hover {
    color: black;
}

.mobile {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: #69F62E;
    border-radius: 10px;
}
header {
    margin: 0;
}
.header.active {
    margin-top: 600px;
}
.header_overall {
    width: 100%;
    height: 800px;
  /*  background-color: rgba(84,79,79,1);*/
    background-color: white;
    display: block;
}

header .language {
    display: flex;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 30;
}
header .language.active {
    display:none
}
.language .cs {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/czech-republic.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.language .cs:hover, .language .eng:hover {
 width: 45px;
 height: 35x;
 border: #69F62E solid 5px;
transition: 0.3s;
}
.language .eng {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/United-Kingdom.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.social_bars {
    display: none
}
.social_bars.active {
    display: none;
}
.social_bars a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .social_bars a:hover {
    background-color: #000;
  }
  .facebook {
    background: #3B5998;
  }
  
  .instagram {
    background: #eb9e34;
  }
  
  .Youtube {
    background: red;
  }
  
  .linkedin {
    background: #007bb5;
  }
  #rychly_vyber {
      display: none;
  }
  .gallery_selector {
      display: none;
  }
  .containers_overall {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
  }

  /* Position the image container (needed to position the left and right arrows) */
.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
  }
  .container h1 {
      color: #69F62E;
      text-align: center;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .secondSlides {
      display: none;
  }
  .thirdSlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #69F62E;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 90px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: #69F62E;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    height: 80px;
    width: 10%;
  }
  .secondColumn {
    float: left;
    height: 80px;
    width: 10%; 
  }
  .thirdColumn {
      float: left;
      height: 80px;
      width: 10%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  .secondDemo {
      opacity: 0.6;
  }
  .thirdDemo {
      opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  .secondDemo:hover {
      opacity: 1;
  }
  .thirdDemo:hover {
      opacity: 1;
  }
  /*eight_gallery*/
.eightDemo {
    opacity: 0.6;
}

.eightDemo:hover {
    opacity: 1;
}
.eightSlides {
    display: none;
}
.eightColumn {
  float: left;
  height: 80px;
  width: 10%; 
}
/*ninght_gallery*/
.ninghtDemo {
    opacity: 0.6;
}

.ninghtDemo:hover {
    opacity: 1;
}
.ninghtSlides {
    display: none;
}
.ninghtColumn {
  float: left;
  hninght: 80px;
  width: 10%; 
}
/*tenth_gallery*/
.tenthDemo {
    opacity: 0.6;
}

.tenthDemo:hover {
    opacity: 1;
}
.tenthSlides {
    display: none;
}
.tenthColumn {
  float: left;
  htenth: 80px;
  width: 10%; 
}
/*eleventh_gallery*/
.eleventhDemo {
    opacity: 0.6;
}

.eleventhDemo:hover {
    opacity: 1;
}
.eleventhSlides {
    display: none;
}
.eleventhColumn {
  float: left;
  heleventh: 80px;
  width: 10%; 
}
/*twelveth_gallery*/
.twelvethDemo {
    opacity: 0.6;
}

.twelvethDemo:hover {
    opacity: 1;
}
.twelvethSlides {
    display: none;
}
.twelvethColumn {
  float: left;
  htwelveth: 80px;
  width: 10%; 
}
/*thrirteenth_gallery*/
.thrirteenthDemo {
    opacity: 0.6;
}

.thrirteenthDemo:hover {
    opacity: 1;
}
.thrirteenthSlides {
    display: none;
}
.thrirteenthColumn {
  float: left;
  hthrirteenth: 80px;
  width: 10%; 
}
/*fourteenth_gallery*/
.fourteenthDemo {
    opacity: 0.6;
}

.fourteenthDemo:hover {
    opacity: 1;
}
.fourteenthSlides {
    display: none;
}
.fourteenthColumn {
  float: left;
  hfourteenth: 80px;
  width: 10%; 
}
/*fifteenth_gallery*/
.fifteenthDemo {
    opacity: 0.6;
}

.fifteenthDemo:hover {
    opacity: 1;
}
.fifteenthSlides {
    display: none;
}
.fifteenthColumn {
  float: left;
  hfifteenth: 80px;
  width: 10%; 
}

  
  
  
  /* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 480px) {
    header {
        margin-top: 30px;
    }
 
    .logo {
        display: block;
    }
    header .language {
        right: 50px;
        top: 130px;
        left: unset;
    }
    .container {
        width: 100%;
    }
}



/*fourth_gallery*/
.fourthDemo {
    opacity: 0.6;
}

.fourthDemo:hover {
    opacity: 1;
}
.fourthSlides {
    display: none;
}
.fourthColumn {
  float: left;
  height: 80px;
  width: 10%; 
}



/*fifth_gallery*/
.fifthDemo {
    opacity: 0.6;
}

.fifthDemo:hover {
    opacity: 1;
}
.fifthSlides {
    display: none;
}
.fifthColumn {
  float: left;
  height: 80px;
  width: 10%; 
}
/*sixth_gallery*/
.sixthDemo {
    opacity: 0.6;
}

.sixthDemo:hover {
    opacity: 1;
}
.sixthSlides {
    display: none;
}
.sixthColumn {
  float: left;
  height: 80px;
  width: 10%; 
}
/*seventh_gallery*/
.seventhDemo {
    opacity: 0.6;
}

.seventhDemo:hover {
    opacity: 1;
}
.seventhSlides {
    display: none;
}
.seventhColumn {
  float: left;
  height: 80px;
  width: 10%; 
}

/* Small screens laptops*/
@media (min-width: 768px) {
}
.container {
    width: 100%;
}


/* Large screens desktops*/
@media (min-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav li {
        list-style: none;
        padding: 0 25px;
    }
    nav li a {
        font-size: 26px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .right_side_nav {
        display: flex;
    }
    
    nav li a {
        font-size: 20px;
        color: white;
    }
    nav li:nth-child(1) a {
        color: grey;
        cursor: none;
    }
    nav li:nth-child(1) a:hover {
        color: grey;
    }

    nav li a:hover {
        color: #69F62E;
    }
    .mobile {
        display: none;
    }
    .social_bars {
        display: block;
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 30;
    }
    #rychly_vyber {
        display: block;
        color: #69F62E;
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }
    .gallery_selector {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items:flex-start;
        margin-bottom: 150px;
    }
    .gallery_selector .year {
        padding: 20px 50px;
        border-radius: 25px;
    }
    .gallery_selector h1 {
        color: #69F62E;
    }
    .gallery_selector a {
        position: relative;
        display: block;
        padding-bottom: 20px;
        text-decoration: none;
        color: whitesmoke;
    }
    .gallery_selector a:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 10px;
        width: 0%;
        height: 5px;
        background-color: #69F62E;
    }
    .gallery_selector a:hover:after {
        width: 100%;
        transition: 1s;
    }
    .container {
        width: 49%;
    }
}

/* Extra large desktop screens*/
@media (min-width: 1200px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    nav li a {
        font-size: 22px;
    }
    
 }
        
        /*XXXL screens and TVs*/
@media (min-width: 1400px) {
   
    body {
        width: 90%;
        margin: 0 auto;
    }
}