@import url('http://fonts.cdnfonts.com/css/maiandra-gd');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo {
    display: none;
    z-index: 10;
}
.logo.active {
    display: none;
}


.right_side_nav {
    display: none;
    z-index: 10;
}
.right_side_nav.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 650px;
    z-index: 20;
    background: black;
}
nav ul li {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
nav ul a {
    color: #69F62E;
    font-size: 2.5rem;
    /*padding-right: 20px;*/
    letter-spacing: 2px;
    text-transform: uppercase;
   /* z-index: 10;*/
    text-decoration: none;
}
nav li a:hover {
    color: black;
}

.mobile {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
}
header {
    margin: 0;
}
.header.active {
    margin-top: 600px;
}
.header_overall {
    width: 100%;
    height: 800px;
  /*  background-color: rgba(84,79,79,1);*/
    background-color: white;
    display: block;
}

header .language {
    display: flex;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 30;
}
header .language.active {
    display:none
}
.language .cs {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/czech-republic.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.language .cs:hover, .language .eng:hover {
 width: 45px;
 height: 35x;
 border: white solid 2px;
transition: 0.3s;
}
.language .eng {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/United-Kingdom.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.social_bars {
    display: none
}
.social_bars.active {
    display: none;
}
.social_bars a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .social_bars a:hover {
    background-color: #000;
  }
  .facebook {
    background: #3B5998;
  }
  
  .instagram {
    background: #eb9e34;
  }
  
  .Youtube {
    background: red;
  }
  
  .linkedin {
    background: #007bb5;
  }
  #rychly_vyber {
      display: none;
  }
  .gallery_selector {
      display: none;
  }
  .herobanner1, .herobanner2, .herobanner3, .herobanner4 {
    position: absolute;
    left: 0;
    top: 0;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.herobanner1 {
    animation: slide1 12s infinite;
}
.herobanner2 {
    animation: slide2 12s infinite;
}
.herobanner3 {
    animation: slide3 12s infinite;
}
.herobanner4 {
    animation: slide4 12s infinite;
}
@keyframes slide1 {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
header img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    z-index: 1;
    height: 100%;
    animation: zoom-out infinite 3s linear;
}
@keyframes zoom-out {
    100%{
        width: 100%;
    }
}
.text_box {
    position: absolute;
    top: 200px;
    color: whitesmoke;
    width: 200px;
    z-index: 10;
    margin-left: 10px;
    animation: textup 12s linear;
    transform: translateY(-20px);
}
@keyframes textup {
10% {
transform: translateY(0px);
}
100% {
    transform: translateY(0px); 
}

}
.text_box h1 {
font-size: 1.5rem;
text-transform: uppercase;
}
.text_box p {
    font-size: 1rem;
    margin-bottom: 30px;
    margin-top: 20px;
}
.text_box a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #69F62E;
    text-align: center;
    border-radius: 25px;
}
.text_box a:hover {
    background-color: whitesmoke;
}
.text_box span {
    background-color: #69F62E;
    height: 1px;
    width: 70px;
    position: absolute;
    left: 0;
    z-index: 20;
}
.box_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 500px;
    margin-bottom: 100px;
}
.box {
    width: 280px;
    height: 400px;
    position: relative;
    margin: 20px;
    overflow: hidden;
    border-radius: 25px;
}
.box .img_part {
    position: absolute;
    top: 0;
    left: 0;  
    transition: .5s;
}
.box:hover .img_part {
    opacity: 0;
}
.box:active .img_part {
    opacity: 0;
}
.box .text_part {
    position: absolute;
    bottom: 20px;
    left: 10%;
    height: 60px;
    width: 80%;
    background-color: black;
    transition: .5s;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px;
    color: #69F62E;
}
.box:hover .text_part{
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
    padding: 25px;
}
.box:active .text_part {
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
    padding: 25px;
}
.text_part h1 {
    margin-top: 0;
    margin-bottom: 50px;
}
.text_part p {
    margin-bottom: 50px;
}
.text_part a {
    text-decoration: none;
    color: #000;
    padding: 10px 35px;
    background-color: #69F62E;
    border-radius: 25px;
}
.text_part a:hover {
    background-color: whitesmoke;
}

  
  
  /* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 480px) {
    header {
        margin-top: 30px;
    }
 
    .logo {
        display: block;
    }
    header .language {
        right: 50px;
        top: 130px;
        left: unset;
    }
    .herobanner1, .herobanner2, .herobanner3, .herobanner4 {
        height: 600px;
    }
    .text_box {
        top: 250px;
        width: 300px;
        z-index: 10;
        margin-left: 40px;
    }
    .text_box h1 {
    font-size: 2rem;
    }
    .text_box p {
        font-size: 1.2rem;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .text_box a {
        font-size: 1.2rem;
        padding: 10px 30px;
    }
    .text_box span {
        width: 100px;
    }
    .box_container {
        margin-top: 600px;
    }
}
/* Small screens laptops*/
@media (min-width: 768px) {
    .herobanner1, .herobanner2, .herobanner3, .herobanner4 {
        height: 700px;
    }
    .text_box {
        top: 250px;
        width: 400px;
        z-index: 10;
        margin-left: 50px;
        transform: translateY(-100px);
    }
    .text_box h1 {
    font-size: 2.5rem;
    }
    .text_box p {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
    .text_box a {
        font-size: 1.2rem;
        padding: 10px 30px;
    }
    .text_box span {
        width: 133px;
    }
    .box_container {
        margin-top: 700px;
    }


}


/* Large screens desktops*/
@media (min-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav li {
        list-style: none;
        padding: 0 25px;
    }
    nav li a {
        font-size: 26px;
        text-decoration: none;
        text-transform: uppercase;
    }
    .right_side_nav {
        display: flex;
    }
    
    nav li a {
        font-size: 20px;
        color: white;
    }
    nav li:nth-child(2) a {
        color: grey;
        cursor: none;
    }
    nav li:nth-child(2) a:hover {
        color: grey;
    }

    nav li a:hover {
        color: #69F62E;
    }
    .mobile {
        display: none;
    }
    .social_bars {
        display: block;
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 30;
    }
    #rychly_vyber {
        display: block;
        color: #69F62E;
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }
    .gallery_selector {
        width: 100%;
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        align-items:flex-start;
    }
    .gallery_selector .year {
        padding: 20px 50px;
        border-radius: 25px;
    }
    .gallery_selector h1 {
        color: #69F62E;
    }
    .gallery_selector a {
        position: relative;
        display: block;
        padding-bottom: 20px;
        text-decoration: none;
        color: whitesmoke;
    }
    .gallery_selector a:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 10px;
        width: 0%;
        height: 5px;
        background-color: #69F62E;
    }
    .gallery_selector a:hover:after {
        width: 100%;
        transition: 1s;
    }
    .herobanner1, .herobanner2, .herobanner3, .herobanner4 {
        height: 1000px;
    }
    .text_box {
        top: 350px;
        width: 500px;
        z-index: 10;
        margin-left: 150px;
    }
    .text_box h1 {
    font-size: 2.5rem;
    }
    .text_box p {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
    .text_box a {
        font-size: 1.2rem;
        padding: 15px 45px;
        margin-left: 130px;
        border-radius: 35px;
    }
    .text_box span {
        width: 166px;
        height: 2px;
    }
    .box_container {
        margin-top: 950px;
    }
    .box {
        margin: 50px 30px;
    }
}

/* Extra large desktop screens*/
@media (min-width: 1200px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    nav li a {
        font-size: 22px;
    }
    .herobanner1, .herobanner2, .herobanner3, .herobanner4 {
        /*height: 1150px;*/
        height: 100vh;
    }
    .box_container {
        margin-top: 900px;
    }

}

/*XXXL screens and TVs*/
@media (min-width: 1400px) {
   

    .text_box {
        top: 350px;
        width: 600px;
        z-index: 10;
        margin-left: 250px;
    }

    .text_box h1 {
        font-size: 3rem;
        letter-spacing: 5px;
        }
        .text_box p {
            font-size: 1.5rem;
            margin-bottom: 50px;
        }
        .text_box a {
            font-size: 1.5rem;
            margin-left: 180px;
        }
        .text_box span {
            width: 200px;
        }
}