                                                                                /*Obecné nastavení */

@font-face {
    font-family: 'AnotherWetShabby';
    src: url('../fonts/AnotherWetShabbyTrial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: metropolis,Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
}
                                                                                /*Header mobil */
.logo {
    margin-left: 20px;
}
.nav_menu {
    display: none;
}
header {
    width: 100%;
    height: 510px;
    margin: auto;
}
.bg_image {
    width: 100%;
    height: 100%;
    background-image: url(../Images/home-banner-nepal.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header_layer {
    width: 100%;
    height: 100%;
    background-color: rgba(48, 56, 66, .4);
}
.navbar a:hover {
    color: #18CFC2;
    text-decoration: none;
    transition: all 1s;
}
.header_box {
    color: white;
    display: block;
    position: relative;
    top: 70px;
    text-align: center;
}
.header_box h1 {
    font-size: 4.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 10px;
}
.header_box p {
    font-family: lora,Georgia,serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.header_box a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: white;
}
#bold {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}
#link_arrow {
    font-size: 25px;
    position: relative;
    top: 3px;
    font-weight: bold;
    color: cyan;
}
.header_box a:hover > #link_arrow{
    transition: all .5s;
    color: orange;
}
                                                                                /*Main mobil */
.flex_overall {
    display: none;
}
.grid_overall {
    margin: 50px auto;
}
.grid_part {
    display: none;
}
.grid_part1 {
    margin-top: 55px;
    margin-bottom: 55px;
}
.grid_part1 h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
}
.grid_part1 p {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin-left: 55px;
    margin-right: 55px;
}
.grid_part1 a:hover {
text-decoration: none;
}
.grid_part1 .unbold {
    font-weight: normal;
    font-size: 3rem;
}
.form_overall {
    width: 100%;
    height: 544px;
    background-color: #fae1b1;
    background-image: url(../images/background_form.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.title_part {
    width: 40%;
    /*position: relative;*/
    margin: 10px auto 10px auto;
}
.title_part img {
    display: block;
    max-width: 100%;
    position: relative;
    top: 100px;
    margin: 0px auto 0px auto;
}
.title_part h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
}
.form_part {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.form_part p, b {
    font-family: lora,Georgia,serif;
    font-size: 18px;
    line-height: 18px;
    
}
.form {
    width: 60%;
    margin: 0 auto;
}
.form input {
    display: block;
    width: 90%;
    margin: 10px auto 10px auto;
    line-height: 46px;
    border: none;
    border-radius: 23px;
    text-align: center;
    font-size: 16px;
    font-family: lora,Georgia,serif;
    color: #a7a9ac;
}
#subscribe_button {
    display: block;
    width: 170px;
    color: white;
    background-color: black;
    text-align: center;
    margin: 0 auto;
}




                                                                                
                                                            /* screen větší než 990 px - tablet a malý PC (tělo 80%)*/
@media screen and (min-width: 990px) {
                                                            /*Header web */
.navbar {
    width: 80%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul {
    display: flex;
    justify-content: space-around;
}
.navbar ul li {
    list-style-type: none;
    padding: 0 15px;
}
.navbar ul li a {
    font-size: 1rem;
    color: white;
    letter-spacing: .5px;
    font-weight: 600;
}
#border {
    border-right: solid orange 1px;
    
}
                                                                                /*Main web */
.flex_overall {
    position: relative;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.flex_overall ::after {
    position: absolute;
    top: 120px;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #cacaca;
}
.flex_overall a {
    width: 33.3%;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: #cacaca 1px solid; - nahrazeno .flex_overall :: after*/
    
    margin-bottom: 20px;
}
.flex_overall a::before {
    display: block;
    position: absolute;
    top: -4px;
    content: '';
    height: 8px;
    width: 0;
    background: orange;
    /*transition: width .5s;*/
}
.flex_overall a:hover::before  {
    width: 33.3%;
    transition: width .5s;
}
.flex_overall a:hover {
    text-decoration: none;
}
.flex_overall a:hover > #description {
    color: #18CFC2;
    transition: color .5s;
}
.flex_overall a #title{
    font-family: metropolis,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color:#cacaca;
    line-height: 32px;
    
}
.flex_overall a #description {
    font-family: metropolis,Helvetica,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    line-height: 32px;
}
.grid_overall {
    margin: 50px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.grid_part {
    display: initial;
}
.grid_overall .grid_part, .grid_part1 {
    width: 100%;
    position: relative;
}
.grid_overall img {
    width: 100%;
    height: 100%;
}
.grid_overall h3 {
    font-family: 'AnotherWetShabby', serif;
    text-transform: uppercase;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: 0;
    color: #fff;
}
.grid_part1 {
    margin-top: 0;
    margin-bottom: 0;
}
.grid_part1 h2 {
    text-align: initial;
}
.grid_part1 p {
    text-align: initial;
    margin-left: 15px;
    margin-right: 15px;
}
.grid_part1 a:hover {
text-decoration: none;
}
.form_overall {
    height: 444px;
}
.form {
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
}
.form input {
    width: 48%;
    /*margin: 10px auto 10px auto;*/
    
}
                                
}
                                                                                /*Verze pro web - široký screen */
                                                                /* screen větší než 1430 px - největší možný screen (PC) tělo 60%*/
@media screen and (min-width: 1430px) {

.navbar {
    width: 60%;
}
.bg_image {

    background-position: 0 0;
    background-size: 100%;
}
.flex_overall {
    width: 60%;
    
}
.grid_overall {
    width: 60%;

}
.form {
    width: 40%;
}

}
                                                                            /* screen větší než 1700 px - poue kvůli header image*/
@media screen and (min-width: 1700px) {
.bg_image {
    background-position: 0 -120px;
    background-size: 100%;
}
                                                                             /* screen menší než 460 px - pro úpravu velikosti textu pro malé mobily*/
}
@media screen and (max-width: 460px) {
    .title_part h3 {
        font-size: 20px;
}
    .form_part p, b {
        font-size: 16px;
}

}