@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: neon;
    src: url(../fonts/marquee-moon/marquee\ moon.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}
h1 {
font-family: neon;
font-size: 2.5rem;
letter-spacing: 6px;
color: rgb(90, 208, 238);
margin-bottom: 100px;
font-weight: normal;
}

h2{
color: rgb(90, 208, 238);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-top: 25px;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
}

nav {
    height: 100px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     align-items: flex-start;
}
.rightside {
    display: none;
}
.rightside.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0;
    position: relative;
    top: -10px;
}
.rightside a {
    color: rgb(90, 208, 238);
text-decoration: none;
font-family: neon;
/* font-family: 'Anton', sans-serif; */
letter-spacing: 6px;
/* word-spacing: 6px; */
font-size: 1.4rem;
padding: 10px;
}

.rightside a:hover {
color: white;
text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
}
.mobile {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: rgb(90, 208, 238);
    border-radius: 10px;

}


/* .mobile_navbar {

display: block;
height: 100px;
line-height: 100px;
text-align: center;

} */
.leftside_neon a {

color: rgb(90, 208, 238);
text-decoration: none;
font-family: neon;
/* font-family: 'Anton', sans-serif; */
letter-spacing: 6px;
word-spacing: 10px;
font-size: 1.4rem;
padding: 10px;
text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
}
.leftside {
    display: none;
}




.herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_370x600_nologo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    }
/* .herobanner.active {
    display: none;
} */
.title {
    text-align: center;
    color: black;
    line-height: 500px;
    font-size: 3.2rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
}
.nabidka {
    display: block;
    align-items: center;
    text-align: center;
}
.nabidky {
    height: 350px;
}
.circle_img {
    width: 300px;
    height: 200px;
    clip-path: circle();
}
.o_nas {
    height: 750px;
    background-image: url(../images/main_370x750.png);
    text-align: center;
}
.textcenter {
    display: block;
 padding-top: 250px;
}
.textcenter h1 {
    color: white;
    margin-bottom: 30px;
}
.textcenter p {
    color: white;
    padding: 0 25px;
    letter-spacing: 2px;
}
.hesla {
    display: none;
}
.kontakty {
    text-align: center;
    margin-top: 150px;
}
.kontakty h1 {
    margin-bottom: 70px;
}
.kontakt p {
    color: rgb(90, 208, 238);
    padding: 25px;
    letter-spacing: 2px;
}



@media (min-width: 370px) {  /*------------------MOBILE BIGGER SCREEN-------------------------*/
.herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_430x600_nologo.png);
    background-position: center;
    }
.title {
    font-size: 3.5rem;
    line-height: 500px;
}
.o_nas {
    background-image: url(../images/main_430x750.png);
}
.textcenter {
    padding-top: 300px;
}
.textcenter p {
    font-size: 0.8rem;
}
}


@media (min-width: 430px) {  /*------------------TABLET/ BIG MOBILE SCREEN-------------------------*/
   .mobile {
       display: none;
   }
   .leftside_neon {
       display: none;
   }
    nav {
        width: 80%;
        margin: 0 auto;
        height: 100px;
        color: rgb(90, 208, 238);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .rightside {
        display: flex;
        /* width: 400px; */
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .rightside li {
         padding: 0 10px; 
         list-style: none;
         font-size: 0.8rem;
    }
    .rightside a {
        font-size: 0.8rem;
        text-decoration: none;
        letter-spacing: 1px;
        color: rgb(90, 208, 238);
        font-family: neon;
        /* letter-spacing: 2px; */
    }
    .rightside a:hover {
        color: black;
        text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
    }

    .leftside {
        display: flex;
    }
    .leftside a {
        
        font-family: neon;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 0.9rem;
        color: rgb(90, 208, 238);
   
    }
    .leftside a:hover {
        color: black;
        text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;  
    }
    

    .herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_1000x600_nologo.png);
    background-position: center;
    }
    .nabidka {
        /* position: relative;
        top: -50px; */
        width: 80%;
        margin: 0 auto;
    }
    .nabidka_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
    }
    .nabidky {
        width: 400px;
        height: 300px;
    }
    .circle_img {
        width: 400px;
    }
    .o_nas {
        background-image: url(../images/main_1000x750.png); 
    }
    .textcenter {
        padding-top: 350px;
    }
    .textcenter p{
        font-size: 1.2rem;
    padding: 0 60px;
    letter-spacing: 2px;
    }
    .kontakty h1 {
        margin-bottom: 100px;
    }
    .kontakty_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

}



@media(min-width:1000px) {  /*------------------SMALL PC SCREEN/TABLET SCREEN-------------------------*/
   
    nav ul li a{
        padding: 0 30px; 
        font-size: 1.2rem;
      }
      nav a {
        letter-spacing: 2px;
    }
   .leftside a {
   font-size: 1.5rem;
   letter-spacing: 4px;
   } 
   .rightside a {
       font-size: 1.3rem;
       letter-spacing: 2px;
   }
   
   
    .herobanner {
        height: 600px;
        width: 100%;
        background-image: url(../images/Herobanner_1400x600_nologo.png);
        background-position: center;
        }  
    .title {
font-size: 7rem;
letter-spacing: 10px;

     }
     .o_nas {
        background-image: url(../images/main_1400x750.png);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        
    }
    .textcenter {
        display: block;
     padding-top: 300px;
     padding-left: 150px;
    }
    .textcenter h1 {
        color: white;
        margin-bottom: 50px;
    }
    .textcenter p {
        color: white;
        padding: 0 ;
        letter-spacing: 2px;
    }
    .hesla {
        display: block;
        padding-top: 350px;
        padding-right: 230px;
        padding-left: 70px;
    }
    .hesla h1 {
        margin-bottom: 50px;
        /* padding-right: 200px;
        padding-left: 70px; */
        font-size: 2rem;
    }
    .kontakty {
        width: 80%;
        margin: 150px auto;
    }
     
}

@media(min-width:1400px) {       /*------------------  PC SCREEN-------------------------*/
    .rightside a{
        padding: 0 40px; 
        font-size: 1.5rem;
        letter-spacing: 4px;
       } 
       .leftside a{
        font-size: 2rem;
       }
    
    
    .herobanner {
        height: 600px;
        width: 100%;
        background-image: url(../images/Herobanner_1920x600_nologo.png);
        background-position: center;
        } 
    .title {
        line-height: 400px;
     }
    .o_nas {
            background-image: url(../images/main_1920x750.png);
            
    }
    .textcenter {
        padding-left: 200px;
    }
    .hesla {
        padding-right: 200px;
    }
}
@media (min-width:1600px) {                /*------------------EXTRA LARGE SCREEN-------------------------*/

    .hesla {
        padding-right: 400px;
    }
 
}

