@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: neon;
    src: url(../fonts/marquee-moon/marquee\ moon.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}
h1 {
font-family: neon;
font-size: 2.5rem;
letter-spacing: 6px;
color: rgb(90, 208, 238);
margin-bottom: 100px;
font-weight: normal;
}

h2{
color: white;
}

body {
    background-color: black;
}

nav {
    height: 100px;
    line-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     align-items: flex-start;
}
.rightside {
    display: none;
}
.rightside.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0;
    position: relative;
    top: -10px;
}
.rightside a {
    color: rgb(90, 208, 238);
text-decoration: none;
font-family: neon;
/* font-family: 'Anton', sans-serif; */
letter-spacing: 6px;
/* word-spacing: 6px; */
font-size: 1.4rem;
padding: 10px;
}

.rightside a:hover {
color: white;
text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
}
.mobile {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: rgb(90, 208, 238);
    border-radius: 10px;
}


.mobile_navbar {

display: block;
height: 100px;
line-height: 100px;
text-align: center;

}
.leftside_neon a {

color: rgb(90, 208, 238);
text-decoration: none;
font-family: neon;
/* font-family: 'Anton', sans-serif; */
letter-spacing: 6px;
word-spacing: 10px;
font-size: 1.4rem;
padding: 10px;
text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
}
.leftside {
    display: none;
}




.herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_370x600_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    }
/* .herobanner.active {
    display: none;
} */
.nabidka {
    display: block;
    align-items: center;
    text-align: center;
}
.nabidky {
    height: 300px;
}
.circle_img {
    width: 300px;
    clip-path: circle();
}



@media (min-width: 370px) {
.herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_430x600_1.png);
    background-position: center;
    }

}


@media (min-width: 430px) {
   .mobile {
       display: none;
   }
   .leftside_neon {
       display: none;
   }
    nav {
        width: 80%;
        margin: 0 auto;
        height: 100px;
        color: rgb(90, 208, 238);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .rightside {
        display: flex;
        /* width: 400px; */
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .rightside li {
         padding: 0 10px; 
         list-style: none;
         font-size: 0.8rem;
    }
    .rightside a {
        font-size: 0.8rem;
        text-decoration: none;
        letter-spacing: 1px;
        color: rgb(90, 208, 238);
        font-family: neon;
        /* letter-spacing: 2px; */
    }
    .rightside a:hover {
        color: black;
        text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;
    }

    .leftside {
        display: flex;
    }
    .leftside a {
        
        font-family: neon;
        text-decoration: none;
        letter-spacing: 2px;
        font-size: 0.9rem;
        color: rgb(90, 208, 238);
   
    }
    .leftside a:hover {
        color: black;
        text-shadow: 
  .1vw 0vw .25vw #91ebe9, .2vw 0vw .25vw #91ebe9, .4vw 0vw .25vw #91ebe9, 
  .1vw 0vw   0vw #90e8f0, .2vw 0vw   0vw #90e8f0, .4vw 0vw   0vw #90e8f0,
  .1vw 0vw  .1vw #90e8f0, .2vw 0vw  .1vw #90e8f0, .4vw 0vw  .1vw #90e8f0,
  .1vw 0vw   2vw #90e8f0, .2vw 0vw   2vw #90e8f0, .4vw 0vw   2vw #90e8f0, 
  .1vw 0vw   1vw #7ebcf2, .2vw 0vw   1vw #7ebcf2, .4vw 0vw   5vw #7ebcf2, 
  .1vw 0vw   5vw #7ebcf2, .2vw 0vw  20vw #7ebcf2, .4vw 0vw  10vw #7ebcf2,
  .1vw 0vw  10vw #7ebcf2, .2vw 0vw  30vw #7ebcf2, .4vw 0vw  10vw #7ebcf2;  
    }
    

    .herobanner {
    width: 100%;
    height: 600px;
    background-image: url(../images/Herobanner_1000x600_1.png);
    background-position: center;
    }
    .nabidka {
        /* position: relative;
        top: -50px; */
        width: 80%;
        margin: 0 auto;
    }
    .nabidka_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        
    }
    .nabidky {
        width: 400px;
        height: 300px;
    }
    .circle_img {
        width: 400px;
    }

}



@media(min-width:1000px) {
   
    nav ul li a{
        padding: 0 30px; 
        font-size: 1.2rem;
      }
      nav a {
        letter-spacing: 2px;
    }
   .leftside a {
   font-size: 1.5rem;
   letter-spacing: 4px;
   } 
   .rightside a {
       font-size: 1.3rem;
       letter-spacing: 2px;
   }
   
   
    .herobanner {
        height: 600px;
        width: 100%;
        background-image: url(../images/Herobanner_1400x600_1.png);
        background-position: center;
        }  
     
}

@media(min-width:1400px) {
    .rightside a{
        padding: 0 40px; 
        font-size: 1.5rem;
        letter-spacing: 4px;
       } 
       .leftside a{
        font-size: 2rem;
       }
    
    
    .herobanner {
        height: 600px;
        width: 100%;
        background-image: url(../images/Herobanner_1920x600_1.png);
        background-position: center;
        } 
        
}

