

.image_slider {
    background-color: greenyellow;
    height: 350px;
    overflow: hidden;
    margin: 0;
}

.image_slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s figure infinite;
    /*nutné mít v html id# a zadat do animation jako infinite
     - zároveň pak zadat referenci do keyframes
     full návod here : https://www.youtube.com/watch?v=qDww4CbxtD4*/
}
.image_slider img {
    float: left;
    width: 20%;
    height: 350px;
    object-fit: cover;
}
@keyframes  figure {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}


/* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 480px) {
    .image_slider {
        height: 500px;   
    }
    .image_slider img {
        height: 500px;
    }
}

/* Small screens laptops*/
@media (min-width: 768px) {
    
    
    .image_slider {
        height: 550px;   
    }
    .image_slider img {
        height: 550px;
    }

}

/* Large screens desktops*/
@media (min-width: 1024px) {
    .image_slider {
        margin: auto 0;
    
    }
}

/*XXXL screens and TVs*/
@media (min-width: 1400px) {
   
    
    .image_slider {
        height: 800px;
        margin: auto 0;
    }
    .image_slider img {
        height: 800px;

    }
}