// linking jiné scss, s tím že underscore na začátku tyto soubory nekompiluje do css file
@import './variables';

// mixin
@mixin flexCenter($direction) {
display: flex;
justify-content: center;
align-items: center;
flex-direction: $direction;
}

@mixin mobile {
    @media (max-width: 800px) {
        @content;
    }
}




body {
    background-color: $primary-color;
}

.main {
width: 80%;
margin: 0 auto;
@include flexCenter(row);

    p {
    font-weight: map-get($font-weights, bold);
    color: $text-color;
        &:hover {
        color: pink;
        }
    } 

@include mobile {
    flex-direction: column;
}
}