
@import url('http://fonts.cdnfonts.com/css/maiandra-gd');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    margin: 0;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.logo {
    display: none;
}
.logo.active {
    display: none;
}


.right_side_nav {
    display: none;
}
.right_side_nav.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 650px;
    z-index: 20;
    background: white;
}
nav ul li {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
nav ul a {
    color: #69F62E;
    font-size: 2.5rem;
    /*padding-right: 20px;*/
    letter-spacing: 2px;
    text-transform: uppercase;
   /* z-index: 10;*/
    text-decoration: none;
}
nav li a:hover {
    color: black;
}

.mobile {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: #69F62E;
    border-radius: 10px;
}
header {
    margin: 0;
}
.header.active {
    margin-top: 600px;
}
.header_overall {
    width: 100%;
    height: 800px;
  /*  background-color: rgba(84,79,79,1);*/
    background-color: white;
    display: block;
}

header .language {
    display: flex;
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 30;
}
header .language.active {
    display:none
}
.language .cs {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/czech-republic.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
}
.language .cs:hover, .language .eng:hover {
 width: 45px;
 height: 35x;
 border: #69F62E solid 5px;
transition: 0.3s;
}
.language .eng {
    
    width: 40px;
    height: 30px;
    background-image: url(../images/Icons/United-Kingdom.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.social_bars {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 30;
}
.social_bars.active {
    display: none;
}
.social_bars a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  .social_bars a:hover {
    background-color: #000;
  }
  .facebook {
    background: #3B5998;
  }
  
  .instagram {
    background: #eb9e34;
  }
  
  .Youtube {
    background: red;
  }
  
  .linkedin {
    background: #007bb5;
  }
  

.image_slider {
    background-color: greenyellow;
    height: 350px;
    overflow: hidden;
    margin: 0;
}

.image_slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s figure infinite;
    /*nutné mít v html id# a zadat do animation jako infinite
     - zároveň pak zadat referenci do keyframes
     full návod here : https://www.youtube.com/watch?v=qDww4CbxtD4*/
}
.image_slider img {
    float: left;
    width: 20%;
    height: 350px;
    object-fit: cover;
}
@keyframes  figure {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.text_part {
    text-align: center;
   background: rgba(255,255,255,0.7);
   /* background: rgba(84,79,79,0.7);*/

    border: solid 2px #69F62E;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    border-radius: 50px;
}
.text_part h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
   
    font-size: 18px;
    margin-top: 30px;
}
.text_part p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 20px 20px 20px 20px;
}
.text_part #zvyraznit {
    color: black;
    font-weight: 500;
}
.text_part a {
    
    
 /*  position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
  transform: translateX(-50%);*/
  background-color: #69F62E;
  border-radius: 50px;
  padding: 10px 35px;
  color: black;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
}

.video_overall {
margin-top: -150px;
position: absolute;
left: 0;
width: 100%;
height: 300px;
background-image: url(../images/background/video_background.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/*background-color: #69F62E;*/
}
.mobile_video {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}
.mobile_video h1 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #69F62E;
    background-color: whitesmoke;
    letter-spacing: 4px;
}
.mobile_video iframe {
margin: 20px auto;
}
.web_video {
    display: none;
}

.dalsi_sekce_overall {
    margin-top: 250px;
    background-color: #eb9e34;
    height: 60vh;
}

.img_slider p, h1, a {
    font-family: 'Poppins', sans-serif;
} 
.img_slider {
    position: relative;
    margin: 0 auto;
    padding: 0;
    /*height: 83%;
    width: 100%;*/
    width: 250px;
    height: 250px;
    /*margin: 10px;*/

}
.img_slider .slide {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
   width: 100%;
    overflow: hidden;
    clip-path: circle(0% at 0 50%);
}
.img_slider .slide.active {

    clip-path: circle(150% at 1% 50%);
    transition: 1.5s;
    transition-property: clip-path;
}
.img_slider .slide img {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 15px;
    /*object-fit: fill;
    object-position: center;*/
}
.img_slider .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}
.img_slider .slide h1 {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 10px;
}
.img_slider .slide p {
    color: white;
    background: rgba(0,0,0,0.1);
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
}
.img_slider .slide a {
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    /*margin-left: 25px;*/
    text-decoration: none;
    background: #69F62E;
}
.img_slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.img_slider .navigation .btn {
    background: rgba(255,255,255,0.5);
    width: 17px;
    height: 17px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.img_slider .navigation .btn.active {
    background: #0c23f5;
}


/* IPads and Tablets*/                                                          /* IPads and Tablets*/                                        
@media (min-width: 480px) {
    header {
        margin-top: 30px;
    }
 
    .logo {
        display: block;
    }
    header .language {
        right: 50px;
        top: 130px;
        left: unset;
    }
    .image_slider {
        height: 500px;   
    }
    .image_slider img {
        height: 500px;
    }
    .text_part {
        width: 70%;
    }
    .text_part h2 {
       
        font-size: 18px;
        margin-top: 50px;
    }
    .text_part p {
        
        font-size: 14px;
        margin: 30px 50px 30px 50px;
    }
    
    .text_part a {
        font-size: 1rem;
        padding: 10px 45px;
    }
    .video_overall {
        margin-top: 0px;
    }
    .dalsi_sekce_overall {
        margin-top: 400px;
    }
    .img_slider {
        width: 450px;
        height: 380px;
    }
    .img_slider .slide h1 {
        font-size: 1.5rem;
    }
    .img_slider .slide p {
        font-size: 1rem;
        width: 60%;
    }
    .img_slider .slide a {
        font-size: 1rem;
        top: 25px;
        padding: 15px 30px;
    }
    .img_slider .navigation {
        bottom: 10px;
    }
    .img_slider .navigation .btn {
        width: 17px;
        height: 17px;
        margin: 10px;
    }
}
/* Small screens laptops*/
@media (min-width: 768px) {
    
    .header_overall {
        height: 850px;  
    }
    
    .image_slider {
        height: 550px;   
    }
    .image_slider img {
        height: 550px;
    }
    .text_part {
       
         bottom: 90px;
    }
    .text_part h2 {
       
        font-size: 20px;
        margin-top: 50px;
    }
    .text_part p {
        
        font-size: 18px;
        margin: 30px 50px 30px 50px;
    }
    .video_overall {
        height: 600px;
        }
    .mobile_video {
     display: none;
    }
    .web_video {
            display: block;
            text-align: center;
    }
    .web_video iframe {
        border-radius: 25px;
    }
    .web_video h1 {
        color: #69F62E;
        font-size: 2rem;
        margin-top: 50px;
        margin-bottom: 80px;
        text-transform: uppercase;
        letter-spacing: 15px;
        background-color: whitesmoke;
    }
    .web_video #second {
        display: none;
    }
    .dalsi_sekce_overall {
        margin-top: 700px;
    }
    .img_slider {
        width: 700px;
        height: 450px;
    }
    .img_slider .slide h1 {
        font-size: 2rem;
    }
    .img_slider .slide p {
        font-size: 1.2rem;
        width: 60%;
    }
    .img_slider .slide a {
        font-size: 1.2rem;
        top: 25px;
        padding: 15px 30px;
    }
    .img_slider .navigation {
        bottom: 10px;
    }
    .img_slider .navigation .btn {
        width: 20px;
        height: 20px;
        margin: 10px;
    }
}
/* Large screens desktops*/
@media (min-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav li {
        list-style: none;
        padding: 0 25px;
    }
    nav li a {
        font-size: 26px;
        /*color: #69F62E;*/
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    
    .right_side_nav {
        display: flex;
    }
    
    nav li a {
        font-size: 20px;
        color: black;
    }
    nav li:nth-child(1) a {
        color: grey;
        cursor: none;
    }
    nav li:nth-child(1) a:hover {
        color: grey;
    }

    nav li a:hover {
        color: #69F62E;
    }
    .mobile {
        display: none;
    }
   
    .header_overall {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
    .image_slider {
        margin: auto 0;
        margin-left: 25px;
        border-radius: 50px;
    
    }
    .text_part {
        height: 470px;
        width: 500px;
        margin: auto 0;
        position: relative;
        right: 50px;
        bottom: 0;
    }
    .text_part h2 {
       
        font-size: 25px;
        margin-top: 100px;
    }
    .text_part p {
        
        font-size: 20px;
        margin: 50px 50px 50px 50px;
    }
    
    .text_part a {
        margin-top: 50px;
        padding: 20px 50px;
    }
    .video_overall {
        margin-top: 80px;
    }
    .dalsi_sekce_overall {
        margin-top: 900px;
        height: 100vh;
    }
    .img_slider {
        width: 1000px;
        height: 650px;
    }
    .img_slider .slide h1 {
        font-size: 2.2rem;
    }
    .img_slider .slide p {
        font-size: 1.4rem;
        width: 60%;
    }
    .img_slider .slide a {
        font-size: 1.4rem;
        top: 25px;
        padding: 20px 40px;
    }
    .img_slider .navigation {
        bottom: 10px;
    }
    .img_slider .navigation .btn {
        width: 25px;
        height: 25px;
        margin: 10px;
    }

}
/* Extra large desktop screens*/
@media (min-width: 1200px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    nav li a {
        font-size: 22px;
    }
    
    .text_part h2 {
       
        font-size: 30px;
        margin-top: 70px;
    }
    .text_part p {
        
        font-size: 18px;
        margin: 50px 70px 50px 70px;
    }
    .web_video {
        display: block;
        text-align: center;
}
.videa_web {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.web_video #second {
    display: inline;
}
.img_slider {
    height: 83%;
}
.dalsi_sekce_overall {
    margin-top: 800px;
}
.img_slider {
    width: 1100px;
    height: 750px;
}

.img_slider .navigation .btn {
    width: 25px;
    height: 25px;
    margin: 20px;
}

}
/*XXXL screens and TVs*/
@media (min-width: 1400px) {
   
    body {
        width: 90%;
        margin: 0 auto;
    }
    .header_overall {
        width: 100%;
        height: 850px;
    }
    
    .image_slider {
        height: 800px;
        margin: auto 0;
        margin-left: 50px;
    }
    .image_slider img {
        height: 800px;

    }
    .text_part {
        height: 650px;
        margin: auto 0;
        position: relative;
        right: 50px;
    }
    .text_part p {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .text_part a {
        margin-top: 100px;
        padding: 25px 55px;
    }
    .video_overall {
        height: 700px;
    }
    .videa_web {
        margin-top: 100px;
    }
    .dalsi_sekce_overall {
        margin-top: 900px;
    }
    .img_slider {
        width: 1300px;
        height: 850px;
}
.img_slider .slide h1 {
    font-size: 2rem;
}
.img_slider .slide p {
    font-size: 1.2rem;
    width: 60%;
    margin-top: 35px;
}
.img_slider .slide a {
    font-size: 1.2rem;
    top: 35px;
    padding: 15px 30px;
}
.img_slider .navigation {
    bottom: 10px;
}
.img_slider .navigation .btn {
    width: 20px;
    height: 20px;
    margin: 10px;
}

}


