
@import url('http://fonts.cdnfonts.com/css/maiandra-gd');

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}
nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}


.right_side_nav {
    display: none;
}
.right_side_nav.active{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    margin-top: 650px;
    z-index: 20;
    background: white;
}
nav ul li {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
nav ul a {
    color: #69F62E;
    font-size: 2.5rem;
    padding-right: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
   /* z-index: 10;*/
    text-decoration: none;
}
nav li a:hover {
    color: black;
    text-decoration: underline;
}

.mobile {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mobile .bar {
    width: 100%;
    height: 3px;
    background-color: #69F62E;
    border-radius: 10px;
}
header {
    margin: 0;
}
.header.active {
    margin-top: 600px;
}
.header_overall {
    width: 100%;
    height: 800px;
    /*background-color: rgba(84,79,79,1);*/
    background-color: white;
    display: block;
}
header h1 {
    color: #69F62E;
    position: absolute;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Maiandra GD', sans-serif;
    font-weight: 200;
    margin: 0;
    top: 110px;
    left: 50px;
    z-index: 1;
}

.image_slider {
    background-color: greenyellow;
    height: 350px;
    overflow: hidden;
    margin: 0;
    border-radius: 50px;
}

.image_slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s figure infinite;
    /*nutné mít v html id# a zadat do animation jako infinite
     - zároveň pak zadat referenci do keyframes
     full návod here : https://www.youtube.com/watch?v=qDww4CbxtD4*/
}
.image_slider img {
    float: left;
    width: 20%;
    height: 350px;
    object-fit: cover;
}
@keyframes  figure {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.text_part {
   background: rgba(255,255,255,0.7);
   /* background: rgba(84,79,79,0.7);*/
    border: solid 3px #69F62E;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 50px;
    border-radius: 50px;
}
.text_part h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 18px;
    margin-top: 30px;
}
.text_part p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 20px 20px 0 20px;
}



/* IPads and Tablets*/
@media (min-width: 480px) {
    header {
        margin-top: 30px;
    }
    header h1 {
        font-size: 2rem;
        top: 160px;
    }
    .image_slider {
        height: 500px;   
    }
    .image_slider img {
        height: 500px;
    }
    .text_part {
        width: 70%;
    }
    .text_part h2 {
       
        font-size: 18px;
        margin-top: 50px;
    }
    .text_part p {
        
        font-size: 14px;
        margin: 30px 50px 0 50px;
    }
    }
/* Small screens laptops*/
@media (min-width: 768px) {
    header h1 {
        font-size: 3rem;
        top: 140px;
        
    }
    .header_overall {
        height: 850px;  
    }
    
    .image_slider {
        height: 550px;   
    }
    .image_slider img {
        height: 550px;
    }
    .text_part {
       
         bottom: 90px;
    }
    .text_part h2 {
       
        font-size: 20px;
        margin-top: 50px;
    }
    .text_part p {
        
        font-size: 18px;
        margin: 30px 50px 0 50px;
    }
}
/* Large screens desktops*/
@media (min-width: 1024px) {
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    nav li {
        list-style: none;
        padding: 0 25px;
    }
    nav li a {
        font-size: 26px;
        /*color: #69F62E;*/
        color: black;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    
    .right_side_nav {
        display: flex;
    }
    
    nav li a {
        font-size: 20px;
        color: black;
    }
    nav li:nth-child(1) a {
        color: #69F62E;
        text-decoration: underline;
        cursor: none;
    }
    nav li a:hover {
        color: #69F62E;
        text-decoration: underline;
    }
    .mobile {
        display: none;
    }
    header h1 {
        top: 160px;
    }
    .header_overall {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: 2fr 1fr;

    }
    .image_slider {
        margin: auto 0;
        margin-left: 25px;
    }
    .text_part {
        height: 470px;
        width: 500px;
        margin: auto 0;
        position: relative;
        right: 50px;
        bottom: 0;
    }
    .text_part h2 {
       
        font-size: 25px;
        margin-top: 100px;
    }
    .text_part p {
        
        font-size: 20px;
        margin: 50px 50px 0 50px;
    }

}
/* Extra large desktop screens*/
@media (min-width: 1200px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    nav li a {
        font-size: 22px;
    }
    header h1 {
        left: 100px;
    }
    .text_part h2 {
       
        font-size: 30px;
        margin-top: 100px;
    }
    .text_part p {
        
        font-size: 20px;
        margin: 70px 70px 0 70px;
    }

}
/*XXXL screens and TVs*/
@media (min-width: 1400px) {
    header h1 {
        left: 200px;
    }
    body {
        width: 90%;
        margin: 0 auto;
    }
    .header_overall {
        width: 100%;
        height: 850px;
    }
    
    .image_slider {
        height: 800px;
        margin: auto 0;
        margin-left: 50px;
    }
    .image_slider img {
        height: 800px;

    }
    .text_part {
        height: 650px;
        margin: auto 0;
        position: relative;
        right: 50px;
    }

}