/* 
nav {
    font-size: 2rem;
} */

body::before {
    display: block;
    content: "";
    height: 60px;
} 

/* #contact-card {
   max-width: 450px;
} */

@media(min-width: 768px) {
    
#news-input {
    width: 50%;
}

}